@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FDFBFA;
  --foreground: #634832;
}

body {
  background: var(--background);
  color: var(--foreground);
  margin: 0;
  padding: 0;
}

/* This kills the ugly blue links forever */
a {
  text-decoration: none !important;
  color: inherit !important;
}